# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.log
info
err

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#wechat
node_modules/
yarn-error.log
miniprogram/
miniprogram_npm/
miniprogram_dist/
.DS_Store
$node_modules/
.history/
**/dist
components/**/*.lock
components/**/package-lock.json
package-lock.json
yarn.lock
project.private.config.json
.eslintcache
wechat
config/conf.json